@font-face {
    font-family: 'MyFont';
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont', serif;
    background: url('../img/logo.svg');
}

body {
    background: green;
}